<!DOCTYPE html>
<html lang="en" ng-app="qualityApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aplicaciónd de Evaluación de Calidad de Software</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/regular.min.css" integrity="sha512-x3gns+l9p4mIK7vYLOCUoFS2P1gavFvnO9Its8sr0AkUk46bgf9R51D8xeRUwCSk+W93YbXWi19BYzXDNBH5SA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/brands.min.css" integrity="sha512-WxpJXPm/Is1a/dzEdhdaoajpgizHQimaLGL/QqUIAjIihlQqlPQb1V9vkGs9+VzXD7rgI6O+UsSKl4u5K36Ydw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/solid.min.css" integrity="sha512-EHa6vH03/Ty92WahM0/tet1Qicl76zihDCkBnFhN3kFGQkC+mc86d7V+6y2ypiLbk3h0beZAGdUpzfMcb06cMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="lib/sweetalert.min.js"></script>
  <script src="lib/angularjs.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="lib/app.js"></script>
  <script src="lib/factories/main.factory.js"></script>
  <script src="lib/route.js"></script>
  <script src="lib/components/login/login.controller.js"></script>
  <script src="lib/components/evaluation-model/evaluation-model.controller.js"></script>
  <script src="lib/components/entity/entity.controller.js"></script>
  <script src="lib/components/global-vars/global-vars.controller.js"></script>
  <script src="lib/components/users/users.controller.js"></script>
  <script src="lib/components/evaluation-score-capture/evaluation-score-capture.controller.js"></script>
  <script src="lib/components/report/report.controller.js"></script>
</head>
<body ng-controller="indexCtrl" style="background-color: #f2f3f5;">
  <div class="container-fluid m-0 p-0" ng-init="init()">
    <nav class="navbar navbar-expand-lg bg-primary" ng-if="userLoged.id">
      <div class="container">
        <a class="navbar-brand text-white">EQualityApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <a class="btn me-3" ng-class="{'btn-primary': menuSelected && menuSelected.id !== m.id, 'btn-light text-primary': menuSelected && menuSelected.id === m.id}" ng-repeat="m in menu" href="#!{{m.route}}" ng-click="selectMenuItem(m)">
            <i class="fa fa-circle me-1"></i>{{m.name}}
          </a>
          <!-- <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul> -->
        </div>
        <button class="btn btn-primary text-white" ng-click="logout()">
          <i class="fa fa-arrow-right me-1"></i>Salir Sesión
        </button>
      </div>
    </nav>
    <div class="container pt-3 ">
      <div class="" ng-view></div>
    </div>
  </div>
</body>
</html>